body {
  background-image: url(img/texture.png);
	background-color: rgba(70, 70, 255, 0.9);
}

/* body {
	background-image: url("/Users/joonc/Documents/Coding/UX@UW/Figmathon-Website-UX-UW/img/texture.png");
	background-repeat: repeat/no-repeat;
} */

main {
	overflow-x: hidden;
}

img {
	margin: 5px;
}

section {
	padding: 6rem;
}

/* .site-header {
  background-color: rgba(62, 62, 236, .2);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
} */
  

.site-header a {
	padding: .5rem;
	padding-top: 3rem;
	margin-top: 2rem;
  transition: color .15s ease-in-out;
}

.site-header a:hover {
  color: #fff;
  text-decoration: none;
}

.site-header .navbar-brand {
	color: white;
	text-decoration: dotted;
	font-size: 2rem;
}

/* Placement of icons */
.turquoise-smiley {
	position: relative;
	top: 15vw;
	left: 2vw;
}

.pink-smiley {
	position: relative;
	top: 5rem;
	left: 7rem;
}

.green-smiley {
	position: relative;
	top: 12rem;
	right: -2rem;
}

.orange-smiley {
	position: relative;
	top: 3rem;
	right: -6rem;
}

.salmon-smiley {
	position: relative;
	top: 13rem;
	right: -10rem;
}

.squiggly {
	display: block;
	margin-top: 30px;
	width: 50%;
	min-width: 175px;
}

.top-image {
	position: relative;
	top: 2rem;
}

.bottom-image {
	position: relative;
	top: 10.8rem;
}
/* End of icons */

.spacer {
	width: 100%;
	height: 1.5rem;
}

.display-1 {
  font-size: 5vw;
  text-align: center;
  color: white;
  padding-top: 5rem;
  font-weight: 500;
}

.display-2 {
	font-size: 3vw;
  color: white;
  text-align: center;
  padding-top: 1.3rem;
  font-weight: 400;
}

.display-3 {
  color: white;
  text-align: center;
  font-size: 2vw;
  padding-top: 1.5rem;
  padding-bottom: 7rem;
}

.about-Figmathon {
	font-size: 1.4rem;
	padding-top: 10rem;
	color: white;
	background-color: rgba(121, 121, 234, 0.8);
	margin: 0 -1rem;
}

.register {
	background-color: rgb(235, 146, 246);
	color: white;
	font-size: 1.5rem;
	margin-bottom: 4rem;
}

.discord {
	background-color: rgb(88, 101, 242);
	color: white;
	font-size: 1.5rem;
	margin-bottom: 4rem;
}

.btn-primary {
	margin-top: 3rem;
}

.tracks {
	font-size: 1.4rem;
	padding-top: 10rem;
	color: white;
}

p {
	padding: .1rem;
}

h1 {
	font-size: 3rem;
	padding-bottom: 2rem;
}

h2 {
	font-size: 3.5rem;
}

h3 {
	font-size: 2rem;
	padding-top: 2rem;
}

h4 {
	font-size: .8rem;
}

h5 {
	text-indent: 2rem;
	font-size: 20px;
	color: gold;
}

footer {
	max-height: 150px;
}

/* For flip text animation */
/* .waviy {
	position: relative;
  }
  .waviy span {
	position: relative;
	display: inline-block;
	font-size: 40px;
	color: #fff;
	text-transform: uppercase;
	animation: flip 2s infinite;
	animation-delay: calc(.2s * var(--i))
  }
  @keyframes flip {
	0%,80% {
	  transform: rotateY(360deg) 
	}
  } */

.waviy {
  position: relative;
  font-size: 5vw;
}
.waviy span {
  position: relative;
  display: inline-block;
  color: #fff;
  text-transform: uppercase;
  animation: waviy 2s infinite;
  animation-delay: calc(.1s * var(--i));
  
}
@keyframes waviy {
  0%,40%,100% {
    transform: translateY(0)
  }
  20% {
    transform: translateY(-20px)
  }
}


/*
 * Extra utilities
 */

.flex-equal > * {
  flex: 1;
}
@media (max-width: 768px) {
  .flex-md-equal > * {
    flex: 1;
  }
}

@media (max-width: 1484px) {
	.turquoise-smiley {
		left: -2rem;
	}
	.pink-smiley {
		left: 1rem;
		}
	.salmon-smiley {
		top: 10rem;
		right: -10rem;
	}
	.green-smiley {
		top: 8rem;
	}
	
}

@media (max-width: 1079px) {
	.orange-smiley {
		display: none;
	}
}

@media (max-width: 1199px) {
	.about-Figmathon {
		font-size: 1.5vw;
	}
}

	/* .display-1 {
		text-align: center;
		color: white;
		padding-top: 5rem;
		font-size: 3rem;
	}
	
	.display-2 {
		color: white;
		text-align: center;
		font-size: 1rem;
		padding-top: 1.3rem;
	}
	
	.display-3 {
		color: white;
		text-align: center;
		font-size: 1rem;
		padding-top: 2rem;
		padding-bottom: 7rem;
	} */

	/* .turquoise-smiley {
		position: relative;
		top: 14rem;
		left: -4rem;
		width: 4rem;
	}
	
	.pink-smiley {
		position: relative;
		top: 5rem;
		left: -4rem;
		width: 4rem;
	}

	.green-smiley {
		position: relative;
		top: 12rem;
		right: -4rem;
		width: 4rem;
	}
	
	.orange-smiley {
		position: relative;
		top: 3rem;
		right: -7rem;
		width: 4rem;
	}
	
	.salmon-smiley {
		position: relative;
		top: 14rem;
		right: -7rem;
		width: 4rem;
	}

	.tracks {
		display: block;
		font-size: 1rem;
		padding-top: 10rem;
		color: white;
	}
}

.about-Figmathon {
	font-size: 1rem;
}

@media (max-width: 992px) {
	.display-1 {
		font-size: 4rem;
		text-align: center;
		display: flex;
	}
	
	.display-2 {
		color: white;
		text-align: center;
		font-size: 1.5rem;
		padding-top: 1.3rem;
	}
	
	.display-3 {
		color: white;
		text-align: center;
		font-size: 1rem;
		padding-top: 2rem;
		padding-bottom: 7rem;
	}

	.turquoise-smiley {
		position: relative;
		top: 14rem;
		left: -4rem;
		width: 6rem;
	}
	
	.pink-smiley {
		position: relative;
		top: 5rem;
		left: -4rem;
		width: 6rem;
	}

	.green-smiley {
		position: relative;
		top: 12rem;
		right: -4rem;
		width: 6rem;
	}
	
	.orange-smiley {
		position: relative;
		top: 3rem;
		right: -7rem;
		width: 6rem;
	}
	
	.salmon-smiley {
		position: relative;
		top: 14rem;
		right: -7rem;
		width: 6rem;
	}

	.tracks {
		display: block;
		font-size: 1rem;
		padding-top: 10rem;
		color: white;
	} */

	/* .person {
		width: 10rem;
	} */
/* } */

/* @media (max-width: 598px) {

} */
